<div [ngClass]="{ 'ativo_menu': ativado }" class="menu_drop">
  <ul class="itens menu">
    <li><a routerLink="ingrediente" routerLinkActive="menu-ativo">Ingredientes</a></li>
    <li><a routerLink="receita" routerLinkActive="menu-ativo">Receitas</a></li>
    <li><a routerLink="cadastro" routerLinkActive="menu-ativo">Cadastrar</a></li>
  </ul>
</div>
<div [ngClass]="{ 'ativo_btn': ativado }" class="botao_menu_drop"></div>
<div [ngClass]="{ 'ativo_btn': ativado }" class="botao_menu_click" (click)="ativar()" ></div>
