<form [formGroup]="cadastroForm">
  <div class="row formulario">
    <div class="col-md-3">
      <div class="md-form">
        <input type="text" id="cad-nomeCompleto" formControlName="nomeCompleto" class="input-underline" placeholder="Nome Completo"/>
      </div>

      <div class="md-form">
        <input type="text" id="cad-userName" formControlName="username" class="input-underline" placeholder="Nome de usuário"/>
      </div>

      <div class="md-form">
        <input type="text" id="cad-email" formControlName="email" class="input-underline" placeholder="Email"/>
      </div>

      <div class="md-form">
        <input type="password" id="cad-senha" formControlName="senha" class="input-underline" placeholder="Senha"/>
      </div>

      <div class="md-form">
        <input type="password" id="cad-senhaConfirm" formControlName="confSenha" class="input-underline"
               placeholder="Confirmação da Senha"/>
      </div>
    </div>

    <div class="col-md-3">
      <div class="md-form">
        <input type="text" id="cad-cep" formControlName="cep" class="input-underline" placeholder="CEP"/>
      </div>
      <!--  COLOCAR MÁSCARA  -->

      <div class="md-form">
        <input type="text" id="cad-logradouro" formControlName="logradouro" class="input-underline" placeholder="Endereço"/>
      </div>

      <div class="md-form">
        <input type="text" id="cad-complemento" formControlName="complemento" class="input-underline" placeholder="Complemento"/>
      </div>

      <div class="md-form">
        <input type="number" id="cad-numero" formControlName="numero" class="input-underline" placeholder="Número"/>
      </div>

      <div class="md-form">
        <select name="uf" id="cad-uf" class="select-underline">
          <option [ngValue]="null" [disabled]="true">Selecione seu estado</option>
          <option *ngFor="let estado of estados" [ngValue]="estado.id">{{ estado.nome }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3">
      <button [disabled]="loading" (click)="cadastrarNovoUsuario()" mdbBtn color="info" mdbWavesEffect class="rounded-btn">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Cadastrar
      </button>
    </div>
  </div>
</form>
