<h1 mat-dialog-title>Update</h1>

<div class="mat-dialog-content">
  <form [formGroup]="formGroup" class="update">

    <mat-form-field class="update-full-width">
      <mat-label>ID</mat-label>
      <input matInput id="ing-id" formControlName="ingId" name="ingId">
    </mat-form-field>

    <mat-form-field class="update-full-width">
      <mat-label>Nome do Ingrediente</mat-label>
      <input matInput id="ing-nome" formControlName="ingNome" name="ingNome">
    </mat-form-field>

    <mat-form-field class="update-full-width">
      <mat-label>Valor Nutricional</mat-label>
      <input matInput id="ing-valorNut" formControlName="ingValorNut" name="ingValorNut">
    </mat-form-field>

    <mat-form-field class="update-full-width">
      <mat-label id="ing-grupoAlimentar">Selecione o Grupo Alimentar</mat-label>
      <mat-select formControlName="ingGrupoAlimentar">
        <mat-option *ngFor="let ga of gruposAlimentares" [value]="ga.codigo">{{ ga.descricao }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="enviarAtualizacao()">Atualizar</button>
</div>
