$background-color: rgba(34, 34, 34, 0.95);
$text-menu-ativo-cor: #fabe52;
$text-menu-inativo-cor: #ce9822;
$borda: 2px solid rgba(255, 255, 255, 0.65);


.cabecalho{
  background: $background-color;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: $borda;

  .logo{
    font-family: 'Imbue', serif;
    font-weight: 150;
    font-size: 32px;
    color: $text-menu-inativo-cor;
    border: none;
    text-decoration: none;
  }

  .menu-ativo {
    color: $text-menu-ativo-cor !important;
    text-shadow: 0 0 10px $text-menu-ativo-cor;
  }
}

.menu{
  list-style:none;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  margin: 0;
  padding: 0;

  li{
    position:relative;
    float:left;

    a{
      color:$text-menu-inativo-cor;
      text-decoration:none;
      padding:5px 10px;
      display:block;
    }
    a:hover{
      color:#fff;
      -moz-box-shadow:0 3px 10px 0 #CCC;
      text-shadow:0px 0px 5px #fff;
    }

    ul{
      position:absolute;
      top:25px;
      left:0;
      background-color:#fff;
      display:none;

      li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
      }
    }
  }
}
.menu li:hover ul, .menu li.over ul{display:block;}
